.container{
font-family: Arial;
font-size: Large;
margin: OPX;
text-align:center;
}
.trait{
font-family:  georgian;
color: blue;
font-size; medium;
text-align: top left;
padding: Opx;
}
.About{
Font-family: georgian;
font-size: medium;
padding: Opx;
margin: Opx;
}
.contact{
font-size: Large;
color: green;
padding: Opx

